@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

div#title{
  border: 5px solid  #95c0e4 ;
  background-color: #c2dbec;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  text-shadow: 0px 0px 2px black;
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
#tweet{
  background-color: #82b2da ;
  font-family: 'Titillium Web', sans-serif;
  padding: 15px;
  margin-bottom: 10px;
  text-align: left;
}

div{
  width: 500px;
  margin : auto;
  box-sizing: border-box;
}
input{
  display:block;
  border:none;
}

input#write-box{
  width: 400px;
  height: 70px;
}
button{
  font-family: 'Titillium Web', sans-serif;
  border:none;
}
#btn-tweet{
  margin-top:7px;
  margin-bottom: 4px;
  width:50px;
  height:25px; 
}


#top-container{
  background-color: #2a55b3 ;
  height:40px;
}
#btn-check button{
  margin-left:15px;
  margin-top: 8px;
  width: 100px;
  height: 20px;
  font-size: 10px;
}

#contents{
  background-color: #cfebf8;
  position: relative;
}
.new-tweet{
  border-bottom: 2px solid #d0dde3 ;
  margin:20px;
  width:460px;
}
.datatweet{
  border-bottom: 2px solid #d0dde3 ;
  margin:20px;
  width: 460px;
}


.name{
  font-family: 'Titillium Web', sans-serif;
  float:left;
  width: 460px;
}
.day{
  text-align: right;
  width: 460px;
}
.comment{
  overflow: hidden;
  margin-bottom:20px;
  width:460px;
}
